/*1 Selecciona los elementos div que sean hijos de otro div*/
div > div{
    color: lime;
    background-color: #ff6b6b;
}
/*2 Selecciona los hijos de los elementos <p>*/
p > *{
    color: lime;
    background-color: #4dabf7;
}
/*3 Selecciona los elementos <p> que sean hijos de <article>*/
article > p{
    color: lime;
    background-color: #51cf66;
}
/*4 Selecciona los <p> que esten dentro de un <article>*/
article  p{
    color: lime;
    background-color: #ffd43b;
}
/*5 Selecciona los titulos <h1> y los <h3>*/
h1, h3{
    color: lime;
    background-color: #845ef7;
}
/*6 Selecciona los <ol> que esten dentro de un <body>*/
body ol{
    color: lime;
    background-color: #ff922b;
}
/*7 Cualquier elemento que tenga la clase "amarillo"*/
.amarillo{
    color: lime;
    background-color: #f06595;
}
/*8 Los elementos <ul> que sean hijos de <body>*/
body > ul{
    color: lime;
    background-color: #22b8cf;
}
/*9 los elementos <a> que sean hijos de <p>*/
p > a{
    color:lime;
    background-color: #94d82d;
}
/*10 Selecciona el elemento con id "platano"*/
#platano{
    color: lime;
    background-color: #cc5de8;
}
/*11 Todos los elementos <div> que sean hermanos de un elemento <h2>*/
h2~div {
    color: lime;
    background-color: #20c997;
}
/*12 Todos los elementos <p> con clase=paisa, descendientes de un elemento <ul>*/
ul  p.paisa{
    color: lime;
    background-color: #ffa8a8;
}
/*13 Selecciona los <h1>, <h2>, <h3> que tengan la clase "headertitle", hijos del <header>*/
header > h1.headertitle, header > h2.headertitle, header > h3.headertitle {
    color: lime;
    background-color: #748ffc;
    
}









/*Ajustes de la página*/
* {
    color: white;
    background-color: black;
}

.atras{
    background-color: white;
    color: black;
}
